body {
    background-color: #746E6E;
    margin: 0;
    padding: 0;
}

header {
    font-size: x-large;
    text-align: center;
    padding: 20px;
    background-color: #3D3232;
    color: aliceblue;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 100px;
}

.functions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 200px;
    height: 500px;
    border: 4px solid black;
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: wheat;
    border: 4px solid black;
}