body {
    background-color: #746E6E;
    margin: 0;
    padding: 0;
}

header {
    font-size: x-large;
    text-align: center;
    padding: 20px;
    background-color: #3D3232;
    color: aliceblue;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 100px;
}

.functions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 500px;
    border: 4px solid black;
}

#grid-panel {
    width: 500px;
    height: 500px;
    border: 4px solid black;
    display: grid; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #ddd;
    border: 1px dotted #456;
}

button {
    width: 100px;
    height: 30px;
    border: 2px solid black;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
}